################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PapaStansShopify.slnx/FileContentIndex/1e99ae48-de71-4897-834b-605781200b8b.vsidx
