{% render 'ps-header', nav_solid: true %}

<div class="ps-page-wrap">
  <h1 class="ps-section-h2" style="margin-bottom:2rem">{{ page.title }}</h1>

  {% content_for 'blocks' %}
</div>

{% render 'ps-footer' %}

{% schema %}
{
  "name": "HTML Sitemap",
  "settings": [],
  "blocks": [{ "type": "@app" }],
  "presets": [{ "name": "HTML Sitemap" }]
}
{% endschema %}
